
# mysql
MYSQL_DATABASE =
MYSQL_ROOT_PASSWORD =
MYSQL_USER =
MYSQL_PASSWORD =
MYSQL_ADDRESS =
MYSQL_PORT =

# For custom services
# Default port for all custom services
APP_PORT =
APP_ADDRESS =
SALT =
TOKEN_SECRET =

# neo4j
NEO4J_PASSWORD =
NEO4J_USER =

# migrations service
MIGRATIONS_PATH =
MIGRATION_TYPE =
JSON_LOGS =
WITH_METRICS =
WITH_TRACING =
COLLECTOR_URL =

# auth service
SECURE_COOKIES =
